{% extends 'main.html' %}
{% block content %}
<div class="contact-form-main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7">
                <div class="form-wrapper">
                    <!--Section Tittle  -->
                    <div class="form-tittle">
                        <div class="row ">
                            <div class="col-xl-12">
                                <div class="section-tittle section-tittle2">
                                    <span>Predict Diabetes</span>
                                    <h2>Patient Details Form</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Section Tittle  -->
                    <form id="contact-form" action="{{ url_for('predictPage') }}" method="POST">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-box user-icon mb-30">
                                    <input class="form-control" type="text" name="Pregnancies" placeholder="Number of Pregnancies eg. 0">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-box email-icon mb-30">
                                    <input  class="form-control" type="text" name="Glucose" placeholder="Glucose (mg/dL) eg. 80">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-box email-icon mb-30">
                                    <input  class="form-control" type="text" name="BloodPressure" placeholder="Blood Pressure (mmHg) eg. 80">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-box email-icon mb-30">
                                    <input class="form-control" type="text" name="SkinThickness" placeholder="Skin Thickness (mm) eg. 20">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-box email-icon mb-30">
                                    <input class="form-control" type="text" name="Insulin" placeholder="Insulin Level (IU/mL) eg. 80">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-box email-icon mb-30">
                                    <input class="form-control" type="text" name="BMI" placeholder="Body Mass Index (kg/m²) eg. 23.1">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-box email-icon mb-30">
                                    <input class="form-control" type="text" name="DiabetesPedigreeFunction" placeholder="Diabetes Pedigree Function eg. 0.52">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-box email-icon mb-30">
                                    <input class="form-control" type="text" name="Age" placeholder="Age (years) eg. 34">
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="submit-info">
                                    <button class="btn" type="submit" value="Predict">Predict Now <i class="ti-arrow-right"></i> </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- contact left Img-->
</div>
{% endblock %}